=render :partial => 'head', :locals => {:title => 'Создание записи нового товара'}

= form_for @product, {:url => admin_panel_products_path, :html => {:multipart => true} } do |f|
  =render :partial => 'shared/errors', :locals => {:object => @product}
  =render :partial => 'form', :locals => {:f => f}
  = f.submit 'Добавить'