<%= form_for @company, :url => admin_company_path do |pos| %>
    <div>
      <%= pos.label 'Company' %>
      <%= pos.text_field 'name' %>
    </div>

    <%= pos.submit 'Update company' %>
<% end %>