<%= form_for @company, :url => admin_panel_companies_path do |f| %>
    <div>
      <%= f.label 'Производитель' %>
      <%= f.text_field 'name' %>
    </div>

    <%= f.submit 'Добавить' %>
<% end %>