-items = $redis.hgetall(session[:session_id])
-keys = $redis.hkeys(session[:session_id])

-if keys.count>0
  %p В корзине :
  -keys.each do |key|
    %p Товар : #{key} - Количество : #{items[key]}
  %br
  = link_to 'Оформить',accept_order_path(:id),:id=>'accept_order'
  = link_to 'Отменить',cancel_order_path(:id),:id=>'cancel_order'