/* ----- main styles ----- */

.message
{
    padding-left: 20px;
}

.backcall_item
{
    margin-top : 15px;
}

h7
{
    font-weight: bold;
    color : green;
}

.add_to_cart_top
{
    margin-bottom : 35px;
}

.add_to_cart_bottom{
  margin-top : 20px;
}

.cart_control_links{
  padding: 0px 0 0 55px;
}

#cart_box{
  background: url("/assets/shopping_cart.png") no-repeat transparent;
  width:80px;
  float:left;
}

#cart_info {
  float:left;
  font-family: Tahoma;
  font-size: 12px;
  width:120px;
  padding: 15px 0 0 10px;
}

#cart_box_list_img{
  border : 0px;
}

#cart_table th, #orders th{
  text-align: left;
}

#cart_table a{
  text-decoration: none;
}

.up_border{
  border-top: 1px dotted #999999;
  font-weight: bold;
  line-height: 30px;
}

.off{
  padding-right: 15px;
}

#cart_items{
  padding: 10px;
}

.text{
  width: 180px;
  height: 21px;
  padding: 0 10px;
  color: #000;
  line-height: 15px;
  background: url("/assets/input_user.png") no-repeat;
  border: 0;
  border-width: 0;
}

.button {
  background: url("/assets/button_user.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  color: #000000;
  float: left;
  font-family: tahoma;
  font-size: 8pt;
  height: 28px;
  margin: 0 -2px 0 12px;
  padding: 7px;
  text-decoration: none;
  width: 85px;
}

#user_panel{
  margin: 17px 0 50px;
  min-height: 90px;
  padding-bottom: 20px;
}

.offset{
  padding-right: 15px;}

* {
  margin: 0px;
  padding: 0px; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: Tahoma;
  font-size: 9pt;
  height: 100%;
  width: 100%;
  color: #000;
  background: url("/assets/h-bk.gif") repeat-x white;
  }

a {
  outline: none;
  -moz-outline: 0;
  border: none;
  border-width: 0px;
  &:active, &:focus {
    outline: none;
    -moz-outline: 0; }
  color: #000;
  text-decoration: underline;
  &:hover {
    text-decoration: none; } }

img {
  border: none;
  border-width: 0px; }

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: Tahoma;
  font-size: 10.5pt;
  padding: 0px 0px 10px 0px;
  font-weight: normal;
  text-shadow: 1px 1px 1px #999; }

h6 {
  color: #000;
  font-family: Tahoma;
  font-size: 10.5pt;
  padding: 0px 10px 10px 10px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #999;
  background: url("/assets/cc.gif") 0 bottom repeat-x;
  margin: 0 0 5px 0; }

p {
  padding: 0px 0px 15px 0px; }

ol, ul {
  margin: 0px 0px 0px 10px; }

li {
  margin: 5px 0px 10px 15px; }

table {
  border-collapse: collapse; }

input, select, textarea {
  font-family: tahoma;
  font-size: 8pt;
  color: #000000; }

.clear {
  clear: both;
  font-size: 0pt;
  line-height: 0px;
  height: 0px; }

.rel {
  position: relative; }

/* ----- special classes styles ----- */

.main {
  position: relative;
  width: 98%; //default 1000px
  margin: 0 auto;
  min-height: 100%; }

*html .main {
  height: 100%; }

/* ----- header styles ----- */

.header {
  height: 130px;
  position: relative;
  }

/* ----- logo ----- */

.logo {
  left: 50px;
  top: 40px;
  position: absolute;
  color: #aaa;
  text-decoration: none;
  font-size: 18pt;
  font-weight: bold;
  &:hover {
    color: #dcb4b4; } }

/* ----- h-search ----- */

.h-search {
  right: 47px;
  top: 37px;
  position: absolute;
  width: 320px; }

.h-field {
  width: 202px;
  height: 34px;
  padding: 0 15px;
  color: #fff;
  line-height: 34px;
  background: url("/assets/search-field.gif") no-repeat;
  border: 0;
  border-width: 0; }

.h-but {
  width: 86px;
  height: 34px;
  background: url("/assets/search-but.png") no-repeat;
  margin: 3px 0 0 0;
  border: 0;
  border-width: 0;
  right: 0px;
  top: 0px;
  position: absolute;
  cursor: pointer; }

/* ----- content styles ----- */

.content {
  position: relative;
  padding: 0 0 70px 0;
  height: 1%; }

.leftmenu{
  height: 30px;
  width: 150px;
  margin: -40px 21px;

    .menu_fill{
      background: url("/assets/1px_menu.png") repeat-x transparent;
      height: 40px;
      float:left;

    }

    .menu_left{
      background: url("/assets/11px_lmenu.png") no-repeat 0 0 transparent;
      height: 40px;
      width: 11px;
      float:left;

    }

    .menu_right{
      background: url("/assets/11px_rmenu.png") no-repeat 0 0 transparent;
      height: 40px;
      width: 11px;
      float:left;
    }

    .leftlink {
      height: 40px;
      font-weight: bold;
      color: #a9aaaa;
      cursor:pointer;
      color:#b0d323;
      float:left;
      padding: 10px 8px 0 0;
    }

    .rightlink {
      height: 40px;
      font-weight: bold;
      color: #a9aaaa;
      cursor:pointer;
      float:right;
      padding: 10px 0 0 8px;
    }
}

.rightmenu{
  height: 40px;
  width: 330px;
  margin: 0px 20px;
  float:right;

      .menu_fill{
      background: url("/assets/1px_menu.png") repeat-x transparent;
      height: 40px;
      float:left;

    }

    .menu_left{
      background: url("/assets/11px_lmenu.png") no-repeat 0 0 transparent;
      height: 40px;
      width: 11px;
      float:left;

    }

    .menu_right{
      background: url("/assets/11px_rmenu.png") no-repeat 0 0 transparent;
      height: 40px;
      width: 11px;
      float:left;
    }


    .h-menu {
      text-align: center;
      margin-left:-10px;
      li {
        display: inline-block;
        height: 17px;
        line-height: 17px;
        padding: 0 5px;
        margin: 8px 12px;
          float:left; } }

    *html .h-menu li, *+html .h-menu li {
      display: inline;}

    .h-menu a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #b0d323; } }
}

.separator{
  background: url("/assets/1px_separ.png") no-repeat scroll 0 0 transparent;
  margin-top:4px;
  width:1px;
  height:30px;
  float:left;
}

.category h6{
  color: #b2d622;
}

.center {
  float:left;
  width:100%;}

.centerprod{
  margin:0 270px 0 208px;
}

.left {
  float:left;
  width: 153px;
  margin-left: -100%;
  padding-left: 20px;
}

.right {
  float: left;
  width: 220px;
  margin-left: -235px; }

.img_center{
  width:180px;
  height:180px;
  margin:20px 0 0 20px;
  padding:10px;
  border: 1px dotted #999;
  float:left;
  position:relative;
}

.newprod_center{
  width:180px;
  height:260px;
  margin:20px 0 0 20px;
  padding:10px;
  border: 1px dotted #999;
  float:left;
}

.img{
  height:178px;
  text-align:center;}

.newprod{
  color: #000000;
  font-family: Tahoma;
  font-size: 10.5pt;
  font-weight: bold;
  text-shadow: 0 0 1px #999999;
  width:300px;
  padding-left: 20px;
}

.pages{
    color: #36393d;
    font-size: 22px;
    margin: 8px 0 0 0;
    font-family: Tahoma;
    font-weight: bold;
    text-shadow: 0 0 1px #999999;

}

.block {
  background: url("/assets/cc.gif") 0 bottom repeat-x;
  margin: 20px 0 15px 0;
  padding: 0 0 0px 0; }

.l-menu {
  line-height: 18px;
  padding: 15px 0 10px;
  ul {
    margin: 0;
    list-style: none; }
  li {
    border-bottom: 1px dotted #999;
    margin: 0;
    padding: 0 10px 0 10px;
    &:last-child {
      border: none; } }
  a {
    text-decoration: none;
    &:hover {
      color: #999; } } }

.t-right {
  text-align: right;
  font-size: 8pt;
  a {
    color: #6d6d6d;
    margin: 0 10px; } }

.more {
  font-size: 8pt;
  a {
    color: #6d6d6d; } }

.items {
  padding: 0 0 5px 0;
  ul {
    margin: 0;
    list-style: none; }
  li {
    border-bottom: 1px dotted #999;
    margin: 0 0 10px 0;
    padding: 0 0px 10px 0px;
    &:last-child {
      border: none; } } }

.sm-news {
  color: #6d6d6d;
  font-size: 8pt;
  padding: 0 0 10px 0;
  ul {
    margin: 0;
    list-style: none; }
  li {
    margin: 0;
    padding: 0 0 10px 0; }
  h3 {
    padding: 0 0 0 0;
    font-size: 8pt; } }

/* ----- footer styles ----- */

.footer {
  margin-top: -64px;
  background: url("/assets/f-bk.gif") repeat-x;
  font-size: 8pt;
  color: #9a9a9a;
  line-height: 36px;
  text-align: center; }

.f-in {
  position: relative;
  margin: 0 auto;
  height: 40px;
  padding: 24px 0 0 0;
  width: 1000px; }

/* -----
.field, x:-moz-any-link {  }
*html .field {  }
*:first-child+html .field {  }
  ----- */