.order_item{:class => cycle("odd", "even")}
  =fields_for order_item do |order_item_fields|
    =order_item_fields.label order_item.product_name
    =order_item_fields.text_field order_item.id,:value=>order_item.count
    =link_to_function 'Удалить', "removeOrderItem('#{order_item.id}', this)"
    %br/