=form_for @order do |f|
  .order_items
    -@order.order_items.each do |order_item|
      = render :partial => 'order_item', :locals => {:order_item => order_item}

  %br
  =select_tag 'products',options_from_collection_for_select(@products, "id", "title")
  =link_to_function 'Добавить позицию',"addOrderItem('#{@order.id}')"
  %br
  =f.label :state
  =f.select "order_state", options_for_select(@order_states)