%table#tablecontent.table
  %tr
    %th.first Наименование
    %th Количество
    %th Цена
    %th.last Дисконт

  -@order.order_items.each do |order_item|
    %tr{:class => cycle("odd", "even")}
      %td=order_item.product_name
      %td=order_item.count
      %td=order_item.product_price
      %td=order_item.product_discount

  %tr
  %tr
    %td Состояние заказа
    %td
    %td=@order.order_state