%tr.sortheader
  %th.first Товар
  %th Дата
  %th Состояние&nbsp&nbsp#{select_tag('state',options_for_select(["all","checked","unchecked"],state),:onchange=>"changeShownBackcallsType($(this).attr('value'))")}
  %th Содержание
  %th.last
-backcalls.each do |backcall|
  %tr{:class => cycle("odd", "even")}
    %td=backcall.product.title
    %td=backcall.created_at
    %td=check_box('checked','checked', :checked => backcall.checked, :onchange => "change_stateBackcall('#{backcall.id}',this)")
    %td=backcall.content[0..30]
    %td.links_column
      = link_to_function 'Удалить',"deleteBackcall('#{backcall.id}',this)"