%tr.sortheader
  %th{:width=>"20%"} Товар
  %th.last Содержание
-backcalls.each do |backcall|
  %tr{:class => cycle("odd", "even")}
    %td.title= link_to backcall.product.title, company_group_product_path(backcall.product.company,backcall.product.group,backcall.product)
    %td.message=backcall.content
