.centerprod
  %h2.title Отзывы

  %table#tablecontent.table
    =render :partial=>'backcalls', :locals =>{:backcalls=> @backcalls, :state=>@state}

  =render :partial=>'paginate', :locals=>{:objects => @backcalls}

