.centerprod
  .pages Отзывы
  %h6
  %table.backcalls
    =render :partial=>'backcalls', :locals =>{:backcalls=> @backcalls, :state=>@state}

  =render :partial=>'paginate', :locals=>{:objects => @backcalls}

