#user-nav
{
    color : #FFFFFF;
    background-color: #000000;
    padding-left: 10px;
}

#user-nav a
{
    color : #FFFFFF;
    text-decoration: none;
}

.content
{
    background-color: #FFFFFF;
    padding-left: 10px;
}

#footer
{
    padding-bottom: 0 !important;
}

.block
{
    margin-bottom: 0 !important;
}

.table .links_column
{
    text-align: right;
}