body
{
    background:url("h-bk.gif") repeat-x #FFFFFF !important;
    font-family: Tahoma !important;
}

#content
{
    min-height:600px;

    margin: 0 auto;
    position: relative;
    width: 1000px;

    background:url("h-bk.gif") repeat-x #FFFFFF !important;
}


#titlediv
{
    height:102px;
}

#titlediv a
{
    font-size:30px;
    font-weight:bold;
    color:#aaaaaa;
    text-decoration:none;
}

.inline_div_left
{
    float:left;
    padding: 33px 0 0 33px;
}

.inline_div_right
{
    float:right;
    padding: 33px;
}

#search_form_search_str
{
    background: url("search-field.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 35px;
    padding: 0 15px;
    width: 200px;
}

#search_submit
{
    background: url("search-but.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 34px;
    width: 88px;
}

.cleaner
{
    clear:both;
}

#m-footer
{
    background: url('f-bk.gif') repeat-x;
    height: 64px
}

#copy
{
    color: #FFFFFF;
    padding: 33px 0;
    text-align: center;
}


#user-nav
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 2px 2px 16px 16px;
    color: #FFFFFF;
    padding-left: 10px;
}

#user-nav a
{
    color : #FFFFFF;
    text-decoration: none;
    padding : 0 10px 0 0;
}

.content
{
    background-color: #FFFFFF;
    padding-left: 10px;
}

#footer
{
    padding-bottom: 0 !important;
}

.block
{
    margin-bottom: 0 !important;
}

.table .links_column
{
    text-align: right;
}

#m-navigation li
{
    border-bottom: 1px dotted #999999;
    margin: 0;
    padding: 0 10px;
}

#m-navigation li.last
{
    border-bottom: none;
    margin: 0;
    padding: 0 10px;
}

#m-navigation
{
    background:none !important;
}

#m-navigation li
{
    background:none !important;
    float : none !important;
}

#m-navigation li a
{
    color : #000000 !important;
    padding: 4px 0 !important;
}

#rightsidebar
{
   float:left;
}

#leftsidebar,#centerbar
{
   float:left;
   margin-right: 20px;
   margin-top: 20px;
}

h6
{    background: url("cc.gif") repeat-x scroll 0 bottom transparent;
    font-size: 12.5pt;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0 10px 10px;
    text-shadow: 0 0 1px #999999;
}

.piece
{
    background: url("cc.gif") repeat-x scroll 0 bottom transparent !important;
    padding-bottom: 10px;
}

.box
{
     /*background-color: #242424;*/
    width: 300px;
    margin: 0 auto 150px;

}