%div
  %p Название : #{@company.name}
  %p= render :partial => 'admin_panel/shared/images_show', :locals => {:target => @company}
  %p
    = link_to 'Редактировать', edit_admin_panel_company_path
    = link_to 'Вернутся', admin_panel_companies_path