%h6.title Товары >> #{@products.first.company.name} >> #{@products.first.group.name}

%table#tablecontent.table
  %tr
    %th.first
    %th
    %th.last

  - @products.each do |product|
    %tr
      %td.offset=image_tag product.photos.first.photo.url(:thumb)
      %td.offset=link_to product.title,company_group_product_path(@company,@group,product)
      %td=product.description