%div
  %p Company : #{@product.company.name}

%div
  %p Group : #{@product.group.name}

%div
  %p Title : #{@product.title}

%div
  %p Description : #{@product.description}
%br

=link_to 'Back', products_path
