!!!
%html
  %head
    %title Авто портал
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags

  %body
    #content
      #titlediv

        .inline_div_left
          =link_to 'Авто портал',root_path, :id=>'titlediv'

        .inline_div_right
          =form_for :search_form, :url=>'/index' do |f|
            =f.text_field 'search_str'
            =f.submit('',:id => 'search_submit')
        .cleaner

      #user-nav
        -if current_user
          %p Hello&nbsp #{current_user.email}&nbsp&nbsp&nbsp&nbsp#{link_to 'Exit', destroy_user_session_path}
        -else
          =link_to 'Login', user_session_path
          =link_to 'Register', new_user_registration_path
      %br

      %div.flash
        -flash.each do |type, message|
          .message{:class => "#{type}"}
            %p=message

      #leftsidebar
        #main-navigation
          %h2 Навигация
          %ul
            %li
              =link_to 'Товары', products_path
            %li
              =link_to 'Товары', products_path
            -#%li
            -#  =link_to 'Категории', groups_path
            -#%li
            -#  =link_to 'Компании', companies_path

      #centerbar
        .content
          =yield

      #rightsidebar

      .cleaner

    #footer
      #copy
        Copyright &copy; 2009 - #{Time.now.year} Face It.
